
.banner-section{
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 220px 0 120px;
    background-color: #f1f6fb !important;
}
.banner{
    font-family: Urbanist;
    font-weight: 600;
    gap:60px;
    display:flex;
    flex-direction: column;
}
.banner-section .banner-content{
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}
.banner-section .banner-content h1{
    color: #FD6D0A;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    text-transform: uppercase;
}
.banner-section .banner-content h2{
    font-family: Rufina;
    font-weight: 400;
    font-size: 64px;
}
.banner-section .banner-content span{
    color:#99A1A9;
} 

.banner-section .banner-content p{
    font-weight: 400;
    font-size: 18px;
    color: #66737F;
}
.post-list-wrap{
    position: relative;
    z-index: 1;
}
.post-list-wrap::before{
    content: "";
    position: absolute;
    top: -40px;
    right: -40px;
    width: 528px;
    height: 430px;
    border-radius: 50%;
    filter: blur(80px);
    background-color: #fd6d0a;
    pointer-events: none;
    opacity: .2;
    z-index: -1;
}
.banner-section .post-itm {
    padding: 48px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    border-radius: 12px;
    width: 100%;
    background-color: #FDFDFD;
    align-items: center;
    gap:40px;
    box-shadow: 0 20px 24px -4px rgba(98, 145, 247, .078);
}
.post-list-wrap:after {
    content: "";
    position: absolute;
    top: -10px;
    left: -40px;
    width: 485px;
    height: 452px;
    border-radius: 50%;
    filter: blur(80px);
    background-color: #6282f7;
    pointer-events: none;
    opacity: .3;
    z-index: -1;
}
.banner-section .post-itm .post-img img{
    width: 100%;
    height:auto;
    border-radius: 12px;
}
.banner-section  .post-itm .post-description {
    display: flex;
    flex-direction: column;
    gap:38px
}
.banner-section .post-itm .post-description .banner-text{
    font-family: Rufina;
    font-weight: 400;
    font-size: 32px;
    color: #001529;
    transition: color 0.3s ;
}
.banner-section .post-itm .post-description .banner-text:hover{
    color: #fd8f45;
}
.banner-section .post-itm .post-description .btn{
    display: flex;
    gap: 10px;
    align-items: center;
    width: fit-content;
}
